
.ipynb_checkpoints/03 Image Combination and Gridding-checkpoint.ipynb
.ipynb_checkpoints/03 Image Combination and Gridding-checkpoint.ipynb
.ipynb_checkpoints/03 Image Combination and Gridding-checkpoint.ipynb
.ipynb_checkpoints/Solutions_to_Exercises-checkpoint.ipynb
.ipynb_checkpoints/03 Image Combination and Gridding-checkpoint.ipynb
.ipynb_checkpoints/03 Image Combination and Gridding-checkpoint.ipynb
satnames.npz
satellites.csv
precip.png
